<template>
    <div>
        <v-dialog
                v-model="dialog"
                width="500"
        >
            <v-card>
                <v-card-title class="headline grey lighten-2">
                    Add note
                </v-card-title>

                <v-card-text>
                    Add note to user
                    <v-text-field v-model="note"></v-text-field>
                </v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                            color="primary"
                            text
                            @click="saveNote"
                    >
                        Save
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <div class="filters" v-if="showFilters">
            <div :key="key" v-for="(filter, key) in filters" class="filter">
                <div>{{filter.name}}</div>
                <div> <v-select
                        class="filter-select"
                        :items="selectOptions"
                        v-model="filters[key].operand"
                    ></v-select>
                </div>
                <input class="filter-number" type="number" v-model="filters[key].operator"/>
            </div>
        </div>
        <v-btn @click="showFilters = !showFilters" small color="primary">Toggle filters</v-btn>
        <v-data-table
                :headers="headers"
                :items="users"
                class="elevation-1"
                :options.sync="options"
                :server-items-length="total"
                :rows-per-page="15"
                @click:row="rowClicked"
                :footer-props="{'items-per-page-options': [10, 15, 20]}"
        >
            <template  v-slot:body="{ items }">
                <tbody>
                <tr  v-for="item in items" :key="item.name">
                    <td class="pointer" @click="rowClicked(item)" :key="key" v-for="(column, key) in columns">{{ item[column] }}</td>
                    <td>
                        <div :key="note.id" v-for="note in item.notes">{{note.note}} <v-icon  class="pointer" :size="15" @click="deleteNote(note.id)">X</v-icon></div>
                    </td>
                </tr>
                </tbody>
            </template>
        </v-data-table>
    </div>

</template>

<script>
    export default {
        name: "UsersTable",
        data() {
            return {
                selectOptions: [
                    {
                        text: 'Less or equal',
                        value: 'lte',
                    },

                    {
                        text: 'Equal',
                        value: 'eq',
                    },

                    {
                        text: 'More or equal',
                        value: 'gte',
                    }
                ],
                users: [],
                total: 0,
                columns: [],
                showFilters: false,
                dialog: false,
                note: '',
                activeRow: {},
                filters: [],
                options: {
                    itemsPerPage: 15,
                },
            }
        },
        created() {
            this.fetchColumns();
            this.fetchUsers();
        },
        methods: {
            fetchColumns() {
                this.axios.get('/api/users/columns').then(response => {

                    const filters = [];
                    response.data.forEach(column => {
                        filters.push({
                            name: column,
                            operand: null,
                            operator: null
                        });
                    });
                    this.filters = filters;

                    this.columns = response.data;

                });
            },
            fetchUsers() {
                let requestUrl = '/api/users';

                if (this.options) {

                    requestUrl += `?per_page=${this.options.itemsPerPage}`;

                    requestUrl += `&page=${this.options.page}`;
                    if (this.options.sortBy && this.options.sortBy[0]) {
                        requestUrl += `&order=${this.options.sortBy[0]}`;
                        const direction = this.options.sortDesc[0] ? 'desc' : 'asc';
                        requestUrl += `&direction=${direction}`;
                    }
                }
                this.completeFilters.forEach(filter => {
                    requestUrl += filter;
                });
                this.axios.get(requestUrl).then(response => {
                    this.users = response.data.data;
                    this.total = response.data.total;
                });
            },
            rowClicked(row) {
                this.dialog = true;
                this.activeRow = row;
            },
            saveNote() {
                this.axios.post('/api/notes', {
                    'user_id': this.activeRow.id,
                    'note': this.note
                }).then(()=>{
                    this.fetchUsers();
                });
                this.note = '';
                this.dialog = false;

            },
            deleteNote(id) {
                this.axios.delete('/api/notes/' + id).then(()=>{
                    this.fetchUsers();
                });
            }
        },
        computed: {
            headers() {
                const headers = [];
                this.columns.forEach(header => {
                    headers.push({
                        text: header,
                        value: header,
                    })
                });
                headers.push({
                    text: 'Notes',
                    value: 'notes',
                    sortable: false
                });
                return headers;
            },
            completeFilters() {
                const completeFilters = [];
                this.filters.forEach(filter => {
                    if (!!filter.operand && !!filter.operator) {
                        completeFilters.push(`&${filter.name}=${filter.operand}:${filter.operator}`)
                    }
                });
                return completeFilters
            }
        },
        watch: {
            options: {
                handler() {
                    this.fetchUsers()
                },
                deep: true,
            },
            completeFilters: {
                handler() {
                    this.fetchUsers()
                },
                deep: true,
            },
        },

    }
</script>

<style scoped>
    .pointer {
        cursor: pointer;
    }
    .filters {
        display: flex;
        flex-wrap: wrap;
    }
    .filter {
        padding: 0 5px;
        width: 40%;
        border-radius: 5px;
        margin: 5px 10px;
        flex-shrink: 0;
        display: flex;
        border: 1px solid #ccc;
        align-items: center;
    }
    .filter-number {
        border: 1px solid #aaa;
        height: 30px;
    }
    .filter-select {
        flex-shrink: 1;
        margin: 0 10px
    }
</style>