<template>
  <v-app>
    <div id="app">
      <UsersTable/>
    </div>
  </v-app>
</template>

<script>
import UsersTable from './components/UsersTable.vue'

export default {
  name: 'App',
  components: {
      UsersTable
  }
}
</script>
<style>
  #app {
    height: 100vh;
  }
</style>
